body{
    background-color: aquamarine;
}
.main-app-style{
    max-width:100%;
    margin:auto;
    border: 5px dotted black;
}
.main-page-heading{
    text-align: center;
    background-color: chocolate; 
    padding: 60px;
    height:100px; 
    color: black;
    margin:0;   
    font-family: cursive;
}

/* .router-links{
   
} */

