/* Resource:https://cssgradient.io/ - to select gradient color */

body{
    background-color: rgb(234, 235, 226);
    /* background-color: aquamarine; */
    /* background-image:url('./Assets/wave.jpg') ; */
    /* background-image: linear-gradient(#94bbe9,#eeaeca); */
}
/* main  container */
.main-container{
    display:flex;
    flex-direction: row;
    height: 200px ;
    /* width: 1000px; */
    /* margin:auto; */
    border: 2px dotted black;
    /* background-image: url('./Assets/plain-background.jpg') */
    /* background-image: linear-gradient(#22c1c3,#fdbb2d); */
}

.main-page-heading{
    position: absolute;
    right:550px;
    text-align: center;
}
/* .heading-container{
    height:250px;
    width: 400px;
    border: 2px dotted black;
} */

/* .image-container{
    height:250px;
    width: 580px;
    border: 2px dotted black; 
} */
.main-pic-heading{
    height: 200px;
    width:1600px;  
    /* position: absolute; */
  }

/* .center-pic{
    height: 250px;
    width:400px;
  } */

/* styling main page heading */
.main-page-heading{
    
    font-family: cursive;
    font-family: gido;
    position: absolute;
    font-weight: 600;
    font-size: 40px;
    /* font-display: 100px; */
    top: 30px;
    left: 450px;
    color: black(42, 80, 163);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}


/* .router-links-container{
   display: flex;
   flex-direction: column;
   
} */

