.how-to-generate{
    font-family: cursive;
    text-align: center;
    color: gray;
    font-weight: bold;
    /* border: 1px dotted gray;*/
} 


/* hightlighting specific instructions */
.text-color{
    color: green;
    font-weight: bold;
}

.generate-meme{
text-align: center;
margin-top: 10px;
}

/* styling for form label name */
.generate-meme-label{
    font-size: large;
    font-family: cursive;
    font-weight: lighter;
    color:rgb(52, 47, 128)
}
/* styling for input field */
.generate-meme{
    font-size: medium;
    font-family: cursive;
    font-weight: lighter;
    color:rgb(52, 47, 128)
    /* width: 100px; */
}
/* generate meme- search button styling  */

#submit-button{
    font-size: medium;
    font-family: cursive;
    background-color: cadetblue;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    color:rgb(52, 47, 128)
}


/* Reference for  form styling : https://www.w3schools.com/css/css_form.asp */