/* router links are displayed like menu without list-style-type*/
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    /* background-color: rgba(167, 216, 152, 0.664); */
    /* background-image: linear-gradient(#082400,#0b9463, #00d4ff); */
    /* border: 3px dotted rgb(141, 73, 73); */
}

/* to display router links horizontally and evenly spaced */
.lists-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;

}
/* .link-style{
    color: green;
    background-color: burlywood;
} */
/* Resource: W3 schools CSS */