/* router links are displayed like menu without list-style-type*/
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: gray;
    border: 3px dotted rgb(141, 73, 73);
}
/* 
li{
    float: left;
} */

/* li{
    display: block;
    color:white;
    text-align: center;
    padding: 10px 14px;
} */
/* to display router links horizontally and evenly spaced */
.lists-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    font-family: cursive;
    font-weight: bold;
}
