.how-to{
    font-family: cursive;
    text-align: center;
}

.important-note{
    /* word-wrap: break-word;  */
    font-family: cursive;
    text-align:center;
}
/* styling for instructions and important note to be center aligned */