/* .search-result-container
{
    display: flex; 
    flex-direction: column; */
    /*font-weight: normal;
    justify-content: flex-start; 
    flex-wrap: wrap;
    max-width:100%;
    align-items: center;
    font-family: cursive; */

.meme-search-result{
  
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;    */
}
/* .meme-search-result
{
    align-items: center;
    font-family: cursive;

} */

/* styling for error message when search has no result to display */